.PipeAccessPopup {

    position: absolute;
    top: 52%;
    left: 22.9%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 96%;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 24px;
    
    padding-top: 5%;
    }
form {
    display: block;
    margin-top: 3.5em;
    overflow-y: scroll;
}

.MuiBox-root{
    background-color: none;
  }
  
.PipeAccessPopup input,
.PipeAccessPopup label {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.PipeAccessPopup input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.PipeAccessPopup label {
    font-weight: bold;
    color: #555;
  } 

.PipeAccessPopup button {
  padding: 10px;
  font-size: 14px;
  background-color: #0087ff;
  color: #fff;
  border: none;
  border-radius: 3px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.PipeAccessPopup button:hover {
  background-color: #0064cc;
}