.addPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    width: 400px;
    height: 600px;
    background-color: rgb(230, 236, 233);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
  }
  
  img {
    width: 50px;
    height: 50px;
  }

  form {
    display: block;
    margin-top: 2em;
    overflow-y: scroll;
}