.MapPopup {
    padding-top: 5%;
    position: absolute;
    top: 52%;
    left: 22.9%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 96%;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 24px;
    
   
    }
form {

    display: block;
    margin-top: 3.5em;
}

.MuiBox-root {
    margin-left: auto;
    margin-right: auto;
    background-color: none;
  }
.contributesButtonsContainerImg img{
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}
.contributesButtonsContainerImg h4{
  text-align: center;
}
  
.MapPopup input,
.MapPopup label {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.MapPopup input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.MapPopup label {
    font-weight: bold;
    color: #555;
  } 

.MapPopup button {
  padding: 10px;
  font-size: 14px;
  background-color: #0087ff;
  color: #fff;
  border: none;
  border-radius: 3px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.MapPopup button:hover {
  background-color: #0064cc;
}