
body {
    background-color: #f2f2f2;
    font-family: sans-serif;
  }
  
  header {
    background-color: #333;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  nav {
    display: flex;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
  }
  
  nav li {
    padding: 0 10px;
  }
  
  nav a {
    color: #2f00ff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
  }
  
  .auth a {
    background-color: #e8491d;
    padding: 10px;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    display: inline-block;
  }

  .left-nav {
    width: 120px;
    height: 100%;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding-top: 50px;
  }
  .left-nav ul {
    display: flex;
   
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
  }
