
body {
    background-color: white;
    font-family: sans-serif;
  }
  
  header {
    background-color: #333;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex{
    display: flex;
  }
  .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  hr.solid {
    border-top: 1px solid #fff0;
    margin-bottom: 4em;
  }
  nav {
    display: flex;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    
  }
  
  nav li {
    padding: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    margin: 20px 10px 20px 20px;
    padding: 10px 15px;
   
  }
  .navbar__left__auth{
    margin-top: 21em;
  }
  svg{
    width: 1.5em !important;
    height: 1.5em !important;
  }
  .active{
    background-color: #5ca2eb;
    color: white;
    width: 82%;
    padding-left: 1.5em;
    margin-left: -0.22em;
  }
  /* .auth a {
    background-color: #e8491d;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    display: inline-block;
  } */

  .left-nav {
    width: 16em;
    height: 100%;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    background: #0671E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding-top: 50px;
  }
  .left-nav ul {
    display: flex;
   
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
  }
#hydrauleak-logo{
  width: 90%;
  height: unset;
  margin-left: -1em;
}
#logoContainer{
  text-align: center;
  margin-top: -1.7em;
}

.nav-txt{
  margin-top: 3rem;
  margin-left: 0.5em;
}