.addPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    width: 400px;
    height: 600px;
    background-color: rgb(230, 236, 233);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
  }
  
  img {
    width: 50px;
    height: 50px;
  }

  form {
    display: block;
    margin-top: 2em;
   
}
.contributesButton{
  zoom: 63%;
  position: absolute !important;
  color: white !important;
  left: 35% !important;
  top: 2% !important;
  z-index: 999999999 !important;
  font-size: 1.3em !important;
  background-color: #0671E0 !important;
  padding: 0.3em !important;
  font-weight: 500 !important;
  border-radius: 10px !important;
}
.layersButton{
  zoom: 63%;
  position: absolute !important;
  color: white !important;
  right: 21% !important;
  top: 2% !important;
  z-index: 999999999 !important;
  font-size: 1.3em !important;
  background-color: #0671E0 !important;
  padding: 0.3em !important;
  font-weight: 500 !important;
  border-radius: 10px !important;
}
.contributesButtonsContainer{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.contributesButtonsContainer button{
 margin : 1em;
  
}
.contributesButtonsContainer img{
  cursor: pointer;
}
input[type="checkbox"]{
  width: 25px;
  height: 25px;
}

.mapLayersButtonContainer img{
  cursor: pointer;
  position: absolute;
  width: 3em;
  height: auto;
  bottom: 2em;
  margin-left: 4%;
  z-index: 99;
  }
  .mapLayersContainer{
    top: 46%;
    left: 11%;
    zoom: 60%;
  }